.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

p {
  font-size: 200px;
}

h1 {
  background: -webkit-linear-gradient(#FAB387, #7477EC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.App-header {
  background-color: #1E1E2E;
  display: flex;
  flex-direction: column;
  align-items: column;
  justify-content: top;
  font-size: calc(10px + 2vmin);
}

.App-footer {
  background-color: #1E1E2E;
  bottom: 0;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: column;
  justify-content: bottom;
  font-size: calc(10px + 2vmin);

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
